li{
    list-style: none;
}

header{
    margin-top: 50px;
}
.wrap{
    margin: 0 auto;
    text-align: center;
    width: 95%;
    & header_content{

        & title{
           
            h1{
                font-size: 28px;
            }
        }
    }
}
.container{
    margin: 0 auto;
    width: 100%;

    & container_items{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}
.list_container{
    margin-top: 100px;
    li{
        padding-bottom: 5px;
    }
}


@media screen and (min-width: 481px){
    @import 'breakpoints/480up';
  }
  
  @media screen and (min-width: 601px){
    @import 'breakpoints/600up';
  }
  
  @media screen and (min-width: 961px){
    @import 'breakpoints/960up';
  }
  
  @media screen and (min-width: 1280px){
    @import 'breakpoints/1280up';
  }
  